<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Eui</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Eui For You</a>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pomodoro">Pomodoro</a></li>
                    <li class="nav-item"><a class="nav-link" href="/alert">Alerts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistic">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact_us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Alert Setup</h1>
        <div class="card-group">
            <div class="card">
                <div class="card-body">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Sound</h4>
                            <h4 class="card-title"><small>Configure the melody</small></h4>
                            <div class="form-group">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" checked=""><label class="form-check-label" for="formCheck-1">London Bridge Is Falling Down (default)</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-2">Twinkle Twinkle Little Star</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-2">English Alphabet Song</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-4"><label class="form-check-label" for="formCheck-2">No sound</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Motion</h4>
                            <h4 class="card-title"><small>Configure the motion</small></h4>
                            <div class="form-group">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1" checked=""><label class="form-check-label" for="formCheck-1">Forward and back (default)</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-2">Circles</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Move all around</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-5"><label class="form-check-label" for="formCheck-2">Mini dance</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-5"><label class="form-check-label" for="formCheck-2">No movement</label></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Lights</h4>
                            <h4 class="card-title"><small>Configure the lights</small></h4>
                            <div class="form-group">
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-6" checked=""><label class="form-check-label" for="formCheck-1">Dangerous - Alerting shades of red (default)</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-7"><label class="form-check-label" for="formCheck-2">Ocean Wave - Calming shades of blue</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2">Rainbow - Distracting colors/patterns</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-8"><label class="form-check-label" for="formCheck-2">NYU Spirits - Very purple</label></div>
                                <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-9"><label class="form-check-label" for="formCheck-2">No lights</label></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="container" style="height: 60px;"><div role="group" class="btn-group"><button class="btn btn-primary" type="button" style="margin: 5px;">Save Changes</button><button class="btn btn-link" type="button" style="margin: 5px;" onclick="history.back(-1)">Go Back</button></div></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

</html>