<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Eui</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Eui For You</a>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pomodoro">Pomodoro</a></li>
                    <li class="nav-item"><a class="nav-link" href="/alert">Alerts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistic">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact_us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Alert Setup</h1>
        <form action="/editalert" method="POST">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sound</h4>
                                <h4 class="card-title"><small>Configure the melody</small></h4>
                                <div class="form-group">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="soundOptions" id="sound_option1" value="sound_option1"><label class="form-check-label" for="sound_option1">London Bridge Is Falling Down (default)</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="soundOptions" id="sound_option2" value="sound_option2"><label class="form-check-label" for="sound_option2">Twinkle Twinkle Little Star</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="soundOptions" id="sound_option3" value="sound_option3"><label class="form-check-label" for="sound_option3">English Alphabet Song</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="soundOptions" id="sound_option4" value="sound_option4"><label class="form-check-label" for="sound_option4">No sound</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Motion</h4>
                                <h4 class="card-title"><small>Configure the motion</small></h4>
                                <div class="form-group">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="motionOptions" id="motion_option1" value="motion_option1"><label class="form-check-label" for="motion_option1">Forward and back (default)</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="motionOptions" id="motion_option2" value="motion_option2"><label class="form-check-label" for="motion_option2">Circles</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="motionOptions" id="motion_option3" value="motion_option3"><label class="form-check-label" for="motion_option3">Move all around</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="motionOptions" id="motion_option4" value="motion_option4"><label class="form-check-label" for="motion_option4">Mini dance</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="motionOptions" id="motion_option5" value="motion_option5"><label class="form-check-label" for="motion_option5">No movement</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Lights</h4>
                                <h4 class="card-title"><small>Configure the lights</small></h4>
                                <div class="form-group">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="lightOptions" id="light_option1" value="light_option1"><label class="form-check-label" for="light_option1">Dangerous - Alerting shades of red (default)</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="lightOptions" id="light_option2" value="light_option2"><label class="form-check-label" for="light_option2">Ocean Wave - Calming shades of blue</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="lightOptions" id="light_option3" value="light_option3"><label class="form-check-label" for="light_option3">Rainbow - Distracting colors/patterns</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="lightOptions" id="light_option4" value="light_option4"><label class="form-check-label" for="light_option4">NYU Spirits - Very purple</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="lightOptions" id="light_option5" value="light_option5"><label class="form-check-label" for="light_option5">No lights</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div role="group" class="btn-group">
                <button class="btn btn-primary" type="submit" style="margin: 5px;">Save Changes</button>
                <button class="btn btn-link" type="button" style="margin: 5px;" onclick="history.back(-1)">Go Back</button>
            </div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script>
        $(document).ready(function () {
            var sound = "{{ soundOption }}";
            var motion = "{{ motionOption }}";
            var light = "{{ lightOption }}";

            if(window.location.href.indexOf("editalert") > -1 || window.location.href.indexOf("alert") > -1) {
                $('input[name="soundOptions"]').each(function(ind, option){
                    $("#"+option.value).prop("checked", false);
                });

                $("#sound_option"+sound).prop("checked", true);          
                
                $('input[name="motionOptions"]').each(function(ind, option){
                    $("#"+option.value).prop("checked", false);
                });

                $("#motion_option"+motion).prop("checked", true);   

                $('input[name="lightOptions"]').each(function(ind, option){
                    $("#"+option.value).prop("checked", false);
                });

                $("#light_option"+light).prop("checked", true);   
            }
        });
    </script>
</body>

</html>