<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Eui</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">Eui For You</a>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pomodoro">Pomodoro</a></li>
                    <li class="nav-item"><a class="nav-link" href="/alert">Alerts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistic">Statistics</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact_us">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Pomodoro Setup</h1><iframe allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/mNBmG24djoY" width="560" height="315"></iframe>
        <form action="/editpomodorotimer" method="POST">
            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><strong>Timing</strong></h4>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><small>Configure your pomodoro timer</small></h4>
                                <div class="form-group">
                                    <p>Work Period (in minutes)&nbsp;&nbsp;<input type="number" min=0 placeholder="{{workPeriod}}" name="newWorkPeriod"></p>
                                    <p>Rest Period (in minutes)&nbsp; &nbsp;<input type="number" min=0 placeholder="{{restPeriod}}" name="newRestPeriod"></p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><small>After each work and rest period...</small></h4>
                                <div class="form-group">
                                    <p>How many times should we remind you?&nbsp;<input type="number" min=0 placeholder="{{numReminder}}" name="newNumReminder"></p>
                                    <p>How long should we snooze for? (max: 5 min)&nbsp;&nbsp;<input type="number" min=0 max=5 placeholder="{{numSnooze}}" name="newNumSnooze"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><strong>Accountability</strong></h4>
                        <h6 class="text-muted card-subtitle mb-2"><em>Purpose</em>: General guiding question to keep you mindful of how you spend your time&nbsp;</h6>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><small>At the end of each work period, ask me...</small></h4>
                                <div class="form-group">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="workOptions" id="work_option1" value="work_option1" checked="checked"><label class="form-check-label" for="work_option1">Nothing</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="workOptions" id="work_option2" value="work_option2"><label class="form-check-label" for="work_option2">Have you worked on an important and urgent task?</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="workOptions" id="work_option3" value="work_option3"><label class="form-check-label" for="work_option3">Other:&nbsp;<input type="text" id="workPersonalized" name="workPersonalized" placeholder="{{setWorkPersonalized}}"></label></div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><small>At the end of each rest period, ask me...</small></h4>
                                <div class="form-group">
                                    <div class="form-check"><input class="form-check-input" type="radio" name="restOptions" id="rest_option1" value="rest_option1" checked="checked"><label class="form-check-label" for="rest_option1">Nothing</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="restOptions" id="rest_option2" value="rest_option2"><label class="form-check-label" for="rest_option2">Have you taken a physical break away from your computer?</label></div>
                                    <div class="form-check"><input class="form-check-input" type="radio" name="restOptions" id="rest_option3" value="rest_option3"><label class="form-check-label" for="rest_option3">Other:&nbsp;<input type="text" id="restPersonalized" name="restPersonalized" placeholder="{{setRestPersonalized}}"></label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div role="group" class="btn-group">
                <button class="btn btn-primary" type="submit" style="margin: 5px;" onclick="handleSubmission()">Save Changes</button>
                <button class="btn btn-link" type="button" style="margin: 5px;" onclick="history.back(-1)">Go Back</button>
            </div>
        </form>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script> 
        function updateChecked(idSelector){
            const options = document.querySelectorAll(idSelector);
            for (const option of options){
                localStorage.removeItem(option.value);
                localStorage.setItem(option.value, option.checked);
            }
        }

        function handleSubmission(){
            if ((document.getElementById("work_option3").checked && document.getElementById('workPersonalized').value === "" && $('#workPersonalized')[0].placeholder == "")
                || (document.getElementById("rest_option3").checked && document.getElementById('restPersonalized').value === "" && $('#restPersonalized')[0].placeholder == "")){
                alert("Please try again! (Need to fill out OTHER)");
            } 
            
            updateChecked('input[name="workOptions"]');
            updateChecked('input[name="restOptions"]');
        } 

        $(document).ready(function () {
            if(window.location.href.indexOf("editpomodorotimer") > -1 || window.location.href.indexOf("pomodoro") > -1) {
                $('input[name="workOptions"]').each(function(ind, option){
                    $("#"+option.value).prop("checked", localStorage.getItem(option.value)==="true");
                    console.log(option);
                });

                $('input[name="restOptions"]').each(function(ind, option){
                    $("#"+option.value).prop("checked", localStorage.getItem(option.value)==="true");
                    console.log(option);
                });
            }
        });
    </script>
</body>

</html>